/target
/classes
/checkouts
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
.lsp
.calva
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
